* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 100vh;
    max-width: auto;
    object-fit: contain;
}

header {
    background-color: rgba(0, 0, 0, 0.082);
    height: 90px;
    margin: 0 auto;
}

nav {
    position: absolute;
    right: 80px;
    top: 40px;
    color: black;
}

nav li {
    display: inline;
    margin: 0px 0px 0px 15px;
}

nav a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-shadow: -2px 1px 2px black;
}

.cabeca {
    padding: 5px;
}

main {
    padding: 20px auto;
    box-sizing: border-box;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 40px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: auto 10px;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
}

.produtos a {
    color: white;
    text-decoration: none;
}

.produtos h2 {
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-shadow: -2px 1px 2px black;
    padding: 10px 10px;
}

.content {
    height: calc(100vh - 90px);
    width: 100%;
    padding: 0 5%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.164);
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.left-side h1 {
    font-size: 50px;
    color: white;
    text-shadow: -2px 1px 2px black;
}

.left-side p {
    color: white;
    text-shadow: -2px 1px 2px black;
    margin-bottom: 50px;
    font-weight: 600;
}

.left-side span{
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-shadow: -2px 1px 2px black;
    font-weight: 500;
}

.left-side a{
    text-decoration: none;
    color: white;
    background-color: rgb(2, 104, 163);
    width: fit-content;
    padding: 15px 20px;
    border-radius: 5px;
}

.right-side{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
