* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 100vh;
    max-width: auto;
    object-fit: contain;    
}

header{
    background-color: rgba(0, 0, 0, 0.082);
    height: 90px;
    margin: 0 auto;
 }
nav {
    position: absolute;
    right: 80px;
    top: 40px;
    color: black; 
}
nav li {
    display: inline;
    margin: 0px 0px 0px 15px;
}
nav a {
    font-size: 20px;  
    color: white;  
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-shadow: -2px 1px 2px black;
}

.cabeca {
    padding: 5px;
}

.spanInfo {
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-shadow: -2px 1px 2px black;
}

.spanInfo:hoover {
    color: aqua;
    transition: 1s;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 175px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: auto 10px;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
}

.produtos a{
    color: white;
    text-decoration: none;
}

.produtos h2{
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-shadow: -2px 1px 2px black;
}